:root{
  --background: #101010;
  --primary: #C83E4D;
}

html{
  height: 100%;
}

hr{
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: none;
  height: .1rem;
  border-radius: 50px;
  background-color: var(--primary);
  width: 100%;
}
body {
  height: 100%;
  color: #ffff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

#root{
  height: 100%;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.0rem;
  text-align: center;
}

a{
  color: var(--primary);
}

h4{
  font-size: smaller;
  font-weight: 300;
  text-align: center;
}
p{
  font-size: 1.2rem;
}

p.light-sans{
  font-weight: 300;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
