@import url("./anim.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101010;
  --primary: #c83e4d;
}

html,
#__next,
.page {
  height: 100%;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: none;
  height: 0.1rem;
  border-radius: 50px;
  background-color: var(--primary);
  width: 100%;
}
body {
  height: 100%;
  color: #ffff;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Source Code Pro", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

#root {
  height: 100%;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

h1.normalize {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}

a {
  color: var(--primary);
}

h4 {
  font-size: smaller;
  font-weight: 300;
  text-align: center;
}
p {
  font-size: 1.2rem;
}

p.light-sans {
  font-weight: 300;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
